body {
    width: 100%;
    max-width: 1000px;
    margin: 0;
    text-align: center;
    background-color: aqua;
    border-radius: 10px;
}

.header {
    text-transform: uppercase;
    background-color: #0a0a23;
    color: #fff;
}

.image {
    width: 100%;
    max-width: 500px;
}