body {
    width: 600px;;
    max-width: 1000px;
    margin: 0;
    text-align: center;
    background-color: aqua;
    border-radius: 10px;
}

.header {
    text-transform: uppercase;
    background-color: #0a0a23;
    color: #fff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

li {
    margin: 10px;
    display: flex;
    justify-content: center;
}

p {
    font-style: italic;
}